* {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2C3F56;
}

#heading h1 {
    font-size: 30pt;
    text-align: center;
    margin-top: 50px;

}

#description {
    width: 45%;
    margin: 50px  auto 50px auto;
}

/*#chart {
    background-color: #ccc;
}*/

/*CONTROLS*/
#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#togglers {
    position: relative;
    z-index: 4;
}

#dataTogglers, #timeFilters {
    /*width: 300px;
    margin: 0 auto;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#resetCantonFilterButton {
    opacity: 0;
    color: rgba(251, 202, 202, 1);
}

#timeFilters button {
    cursor: pointer;
}

#headContainer {
    height: 50px;
}

.headContent {
    width: 100%;
    height: 50px;
    position: absolute;
}

h2 {
    text-align: center;
}


/*DAY HALVES*/

#dayHalf {
    display: flex;
    flex-direction: row;
    justify-content: center;
    visibility: hidden;
}

.dayHalfPeriod {
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
}

.dayHalfPeriod h2 {
    text-align: center;
}


/*CANTONS*/

#cantons {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    width:75%;
    z-index: 3;
    margin-top: 25px;
}

.canton {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    border-radius: 3px;
}

.canton h4 {
    margin: 0;
}

.cantonHolder {
    min-width: 155px;
    height: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.canton:hover, .canton.active {
    background-color: rgba(251, 202, 202, 0.61);
}

.canton svg {
    width: 20px;
    height: 20px;
}

.canton h4 {
    text-align: center;
    padding: 5px;
}



/*WEEKDAYS*/

#weekDays {
    display: flex;
    flex-direction: row;
    visibility: hidden;
}

.weekDay {
    width: 20%;
}

.weekDay h3 {
    text-align: center;
}


/*HOURS*/

#hours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    visibility: hidden;
    z-index: 1;
}

.hourRange {
    width: 33%;
    height: 275px;
}

.hourRange h3 {
    text-align: center;
}

#chart {
    margin-top: 100px;
    margin-bottom: 100px;
}

#chart svg {
    position: relative;
    z-index: 2;
}

/*TOOLTIP*/
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    font: 12px sans-serif;
    background: rgba(0, 0, 0, 0.7);
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 5;
    color: #ffffff;
}